body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
  margin-top: 8%;
}


.tile-image{
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card{
  width: 45%;
  /* this is the space for text  in the row if the value is greater than 45% some shit will fuck up*/
}

.left{
  display: inline-block;
  float: left;
}

.right{
  display: inline-block;
  float: right;
}

/* ----------------------------------everything above is before responsive page(media queries)------------------------------ */

@media(max-width: 680px){
 
  h1 {
    font-size: 3rem;
  }

  .logo{
    width: 100px;
  }
 
  .card{
    width: 100%; 
    /* this will make the image to jump into the next row */
  }

}